@charset "UTF-8";



body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;

}

div#container-login{
    background-position: center;
    width: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    text-align: center;
    border-radius: 10px;
    background-color: #a2b1d5;
    opacity: 90%;

}

form{
    margin-top: 60px;
    margin-bottom: 60px;
}


label{
    font-size: 20px;
    color: rgb(2, 35, 63);
    display: block;
    width: 100%;
    text-align: left;
    font-weight: bold;


}

input {

    border-radius: 30px;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px black;
    border: 2px black ;

}


input:focus {
    color: black;
    background-color: rgb(233, 126, 126);

}


button#btn-entrar{
    border-radius: 0%;
    color: #fff;
    background-color: #08558b;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 10px;
    font-weight: bold;
}

button#btn-entrar:hover{
    transition: .5s;
    opacity: 50%;
    background-color:red;
    color: blue;
}


h1{
    color: slateblue;
    background-position: center;
}


div#alerta{
    background: rgb(226, 54, 28);
    color: rgb(242, 222, 44);
    font-size: 30px;
    font-family: 'Arial, Helvetica, sans-serif';
}
